<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Classifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="bg-dark-gray text-gray text-center p-4">
        <h1>Fake News Classifier</h1>
        <div class="logo-container text-right">
            <img src="{{ url_for('static', filename='satalia_logo.jpeg') }}" alt="Satalia Logo" style="width: 80px; height: 80px;"/>
        </div>
    </header>
    <main class="container mt-5">
        <section id="upload-section">
            <form id="upload-form" action="/uploader" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="csvFile">Upload CSV File:</label>
                    <input type="file" name="csvfile" accept=".csv" required>
                </div>
                <div class="form-group">
                    <label for="jsonFile">Upload JSON File:</label>
                    <input type="file" name="txtfile" accept=".txt" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
        
        <section id="log-section" class="mt-5">
            <h2>Logs</h2>
            <pre id="log"></pre>
        </section>
       
    </main>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3">
            © 2023 Satalia Technical Assignment
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
